<mat-card-title>Select your filters</mat-card-title>

<mat-form-field class="demo-chip-list">
  <mat-chip-list #chipList>
    <mat-chip (click)="onFilterClick(filter)" *ngFor="let filter of parkService.filters" [selectable]="selectable" [removable]="removable"
      (removed)="remove(filter)">
      {{filter.label}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</mat-form-field>

<mat-form-field class="demo-chip-list">
  <mat-chip-list class="myFilters" #chipList>
    <mat-chip [style.backgroundColor]="filter.color" *ngFor="let filter of parkService.selectedFilters" [selectable]="selectable" (removed)="onFilterRemoveClick(filter)">
      {{filter.label}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input placeholder="Your filters" [matChipInputFor]="chipList"
       />
  </mat-chip-list>
</mat-form-field>

<button mat-raised-button color="primary" (click)="onFindPark()">Find the perfect park</button>
