yaga-map {
  position: fixed !important;
  top: 0;
  height: 100%;
  width: 100%;
}

::ng-deep .mat-bottom-sheet-container {
  min-width: unset !important;
  width: unset !important;
  margin: 15px;
  margin-bottom: 0px;
  padding: 20px !important;
}

#header {
  position: absolute;
  padding: 15px;
}

#footer {
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
}
