<yaga-map (move)="onMapMove()">
  <yaga-tile-layer [(url)]="tileLayerUrl">
    <yaga-circle-marker (click)="openParkDetails(park)" *ngFor="let park of parkService.bestParks" [color]="black" [fillColor]="getMarkerColor(park)"
      [fillOpacity]="0.8" [(lat)]="park.latlng.lat" [(lng)]="park.latlng.lng"></yaga-circle-marker>
    <yaga-circle-marker *ngFor="let point of parkService.buddyLocations" [(lat)]="point.lat" [fillColor]="'blue'" [(lng)]="point.lng"></yaga-circle-marker>
    <yaga-circle-marker *ngFor="let interest of parkService.interests" [(lat)]="interest.latlng.lat" [(lng)]="interest.latlng.lng">
    </yaga-circle-marker>
  </yaga-tile-layer>
</yaga-map>


<div [style.height.%]="'100'" id="salut" fxLayout="column">

  <div id="header" [style.width.%]="'100'" fxLayout="row" fxLayoutAlign="start center">
    <button (click)="clear()" mat-mini-fab color="primary">
      <i class="material-icons">delete</i>
    </button>
  </div>

  <mat-card id="footer">
    <mat-card-content *ngIf="parkService.interests.length == 0" fxLayout="row" fxLayoutAlign="center center">
      <span>Did you locate your buddies?</span>
      <button mat-raised-button color="primary"  [disabled]="parkService.buddyLocations.length == 0" (click)="openBottomSheet()">Ready?</button>
    </mat-card-content>
    <mat-card-content *ngIf="parkService.interests.length > 0" fxLayout="row" fxLayoutAlign="center center">
      <span></span>
      <button mat-raised-button color="primary" (click)="back()">Back</button>
    </mat-card-content>
  </mat-card>

</div>
