<div [style.width.%]="100" [style.height.%]="35" fxLayout="column" fxLayoutAlign="center center">
  <h1>HALFWAYS</h1>
  <button (click)="start()" mat-raised-button color="primary">Let's meet in the middle</button>
</div>
<img [style.height.%]="100" src="assets/images/cool.jpg" />
